{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Olá professor</h1>
  <p class="lead">Bem-vindo ao Sistema de Gestão Escolar.</p>
  <hr class="my-4">
  <p>Você pode acessar vários recursos após o Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="teachersignup" role="button">Candidatar-se ao emprego</a>
    <a class="btn btn-primary btn-lg" href="teacherlogin" role="button">Login</a>
  </p>
</div>
{% endblock content %}

